/**
 * Licensed to Marvelution under one or more contributor license
 * agreements.  See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.errorList {
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
}

#views {
	background-color: #FFF;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	padding: 0px;
	margin: 0px;
	float: right;
}

#slider {
}

#sliderLeft, #sliderRight {
	position: relative;
	top: -3px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid #CCC;
	background-color: #CCC;
	padding: 2px;
	height: 14px;
	width: 14px;
}

#sliderLeft {
	left: 0px;
	float: left;
	z-index: 10;
}

#sliderRight {
	right: -4px;
	float: right;
	z-index: 11;
}

#sliderWrapper {
	background-color: #FFF;
	overflow: hidden;
	padding: 4px;
	margin: -4px;
}

#associations {
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	padding: 0px;
	margin: 0px;
	width: 5000px;
}

#hudsonPanelContent {
	font-family: arial, FreeSans, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	padding: 5px;
}

#hudsonPanelContentHtml {
	margin-top: 1px;
	padding: 10px;
	border: 1px solid #CCC;
	background-color: #FFF;
	height: 200%;
}

#summaries {
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	padding: 0px;
	margin: 0px;
}

#builds-show-more {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #CCC;
	display: block;
	margin: 0 .2em 0 .2em;
	overflow: hidden;
	padding: .35em;
	text-align: center;
	cursor: pointer;
}

#builds-show-more span {
	color: #666;
}

#builds-show-more span:hover {
	text-decoration: underline;
}

#builds-show-more.loading {
	background: url('images/throbber.gif') no-repeat center center;
}

#builds-show-more.loading span {
	visibility: hidden;
}
